<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{admin/layouts/admin}">

<head>
    <title>Modification d'un spectacle</title>
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <style>
        .fieldError {
            color: red;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <h1 class="text-center">Modification d'un spectacle</h1>

            <form th:action="@{/admin/shows/{id}/edit(id=${show.id})}" th:object="${show}" method="post" class="row g-3 col-md-6 mx-auto">
                <input type="hidden" name="_method" value="put"/>

                <div class="mb-3">
                    <label for="title" class="form-label">Titre du spectacle :</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Entrez le titre">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description :</label>
                    <textarea th:field="*{description}" class="form-control" id="description" placeholder="Entrez la description"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="fieldError"></p>
                </div>

                <div class="mb-3">
                    <label for="posterUrl" class="form-label">URL de l'affiche :</label>
                    <input type="text" th:field="*{posterUrl}" class="form-control" id="posterUrl" placeholder="Entrez l'URL de l'affiche">
                    <p th:if="${#fields.hasErrors('posterUrl')}" th:errors="*{posterUrl}" class="fieldError"></p>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Prix :</label>
                    <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Entrez le prix">
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>
                </div>

                <div class="mb-3">
                    <label for="bookable" class="form-label">Réservable :</label>
                    <input type="checkbox" th:field="*{bookable}" class="form-check-input" id="bookable">
                    <p th:if="${#fields.hasErrors('bookable')}" th:errors="*{bookable}" class="fieldError"></p>
                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                    <a th:href="@{/admin/shows}" class="btn btn-danger">Annuler</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
