<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>
    <title>Résumé de votre réservation</title>
    <link rel="stylesheet" th:href="@{/css/payement.css}">
</head>

<body>
    <div layout:fragment="content">
        <div class="payment-container">
            <h1>Résumé de votre réservation</h1>
            
            <p><strong>Date et heure de la pièce :</strong> <span th:text="${representationWhen}"></span></p>
            <p><strong>Sièges sélectionnés :</strong> <span th:text="${selectedSeats}"></span></p>
            <p><strong>Nombre de places :</strong> <span th:text="${nbPlaces}"></span></p>
            <p><strong>Places avec réduction :</strong> <span th:text="${nbReducedPlaces}"></span></p>
            
            <!-- Ajout du total à payer -->
            <p><strong>Total à payer :</strong> 
                <span th:text="${totalPrice} + ' €'"></span>
            </p>

            <!-- Formulaire pour le paiement -->
            <form th:action="@{/payment/create-checkout-session}" method="post">
                <input type="hidden" name="amount" th:value="${totalPrice}" />
                <button type="submit" class="btn btn-primary">Procéder au paiement</button>
            </form>
                
        </div>
    </div>
</body>
</html>
