<header class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
  <div class="container">
    <a class="navbar-brand" href="http://localhost:8080/home">Projet Réservations</a>
    <link rel="stylesheet" href="/css/header.css">
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/}">Page d'accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/artists}">Les artistes</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-danger" href="#" th:href="@{/logout}">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</header>
