		h1 {
            text-align: center; /* Centre le titre principal */
        }

        .seat {
            width: 30px;
            height: 30px;
            margin: 3px;
            background-color: #ccc;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            border-radius: 5px;
        }

        .selected {
            background-color: #28a745;
            color: white;
        }

        .reserved {
            background-color: #e74c3c;
            color: white;
            cursor: not-allowed;
        }

        .seat-row {
            margin-bottom: 10px;
            text-align: center;
        }

        .screen {
            width: 80%;
            height: 40px;
            background-color: #000;
            color: white;
            text-align: center;
            line-height: 40px;
            margin: 20px auto;
            border-radius: 5px;
        }

        .container {
            text-align: center;
        }