
/* Style général de la barre de navigation */
.navbar {
    background-color: #343a40; /* Couleur de fond sombre */
    border-bottom: 3px solid #17a2b8; /* Bordure en bas de la navbar */
    padding: 10px 0; /* Espacement vertical */
}

.navbar-brand {
    font-family: 'Lobster', cursive; /* Police personnalisée pour la marque */
    font-size: 1.8rem;
    color: #ffffff; /* Couleur blanche pour le texte de la marque */
}

.navbar-brand:hover {
    color: #17a2b8; /* Changer la couleur au survol */
}

.nav-link {
    color: #ffffff; /* Couleur des liens */
    font-size: 1.1rem;
    margin-right: 15px;
    text-transform: uppercase; /* Texte en majuscules */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #17a2b8; /* Couleur au survol */
}

.nav-item.active .nav-link {
    color: #17a2b8; /* Couleur de l'élément actif */
    font-weight: bold;
    border-bottom: 2px solid #17a2b8; /* Ligne soulignée pour l'élément actif */
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
}

.container {
    max-width: 1140px; /* Limite la largeur de la barre de navigation */
}

/* Ajustements pour petits écrans */
@media (max-width: 992px) {
    .navbar {
        padding: 15px 0;
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        margin: 10px 0;
    }
}
