/*Main*/


body {
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/nv.jpg'); /*Image de fond */
    background-size: cover; /*Ajuste l'image de fond*/
    background-repeat: no-repeat; /*Pas de rep de l'image de fond*/
    background-position: center;
    color: Ivory;
    background-attachment: fixed; /*L'image de fond reste en place malgré qu'on défile*/
    
}





/*header*/
.navbar {
    background: rgba(255, 255, 255, 0.3); /* Fond semi-transparent */
}


.imgShow{
	 width: 100%; /* Définit la largeur de l'image à 100% de la largeur du conteneur */
    height: 400px; /* Permet de maintenir les proportions de l'image */
}




/*Ajout test*/

/* Styles de formulaire */
.fieldError {
  color: red;
}


/* Styles de liens */
a {
  color: SkyBlue;  /*Couleur des liens */
  text-decoration: none; /* Enlever le soulignement */
  padding: 10px 20px; /* Ajouter du padding */
  font-size: 18px; /* Taille de la police */
}

a:hover {
  text-decoration: underline; /* Ajouter un soulignement au survol */
}






.formLogin .form-control {
    width: 150%; /* Assure que le champ prend toute la largeur disponible */
    max-width: 4000px; /* Limite la largeur maximale */
    padding: 10px 12px; /* Ajuste l'espacement interne du champ */
    font-size: 16px; /* Taille de la police à l'intérieur des champs */
}

.formLogin .input-group-text {
    font-size: 16px; /* Ajuste la taille de l'icône */
    padding: 10px 15px; /* Ajuste l'espacement interne de l'icône */
}

.formLogin .btn {
    font-size: 16px; /* Ajuste la taille du texte du bouton */
    padding: 10px; /* Ajuste l'espacement interne du bouton */
}


