<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
<head>
    <title>Fiche d'un spectacle</title>
    <!-- Inclusion de Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/show.css}">
</head>
<body>
    <div class="container content-section">
        <div layout:fragment="content">
            <h1 class="display-4" th:text="${show.title}">Ayiti</h1>

            <div class="image-container">
                <p th:if="${show.posterUrl}">
                    <img th:src="@{'/images/' + ${show.posterUrl}}" th:alt="${show.title}" src="/images/default.jpg" alt="" width="300">
                </p>
                <canvas th:unless="${show.posterUrl}" width="200" height="100"></canvas>
            </div>

            <div class="text-center">
                <p th:if="${show.location}">
                    <strong>Lieu de création:</strong> <span th:text="${show.location.designation}">Art Center</span>
                </p>

                <p th:if="${show.description}" class="lead">
                    <strong>Description:</strong> <span th:text="${show.description}">Description du spectacle.</span>
                </p>

                <p>
                    <strong>Prix:</strong> 
                    <span th:text="${show.price} + ' € (Étudiant/Senior: '"></span>
                    <span th:text="${#numbers.formatDecimal(show.price * 0.7, 1, 2)}"></span>
                    <span> €)</span>
                </p>

                <!-- Affichage de "Non réservable" si aucune représentation ou si show.bookable est false -->
                <p th:if="${#lists.size(show.representations) == 0 or !show.bookable}">
                    <em class="non-reservable">Temporairement indisponible</em>
                </p>
                <p th:if="${#lists.size(show.representations) > 0 and show.bookable}">
                    <em class="reservable">Réservable</em>
                </p>
            </div>

            <h2>Liste des représentations</h2>
            <ul class="list-group" th:if="${#lists.size(show.representations) >= 1}">
                <li class="list-group-item d-flex justify-content-between align-items-center striped-bar" th:each="representation : ${show.representations}">
                    <span th:text="${#temporals.format(representation.when, 'dd-MM-yyyy HH:mm')}">12-10-2012 13:30</span>
                    <form th:action="@{/confirmReservation}" method="post" class="form-inline">
                        <input type="hidden" name="representationWhen" th:value="${representation.when}"/>
                        <input type="hidden" name="nbPlaces" value="1"/>
                        <button type="submit" class="btn btn-primary btn-sm">Réserver</button>
                    </form>
                </li>
            </ul>

            <p th:if="${#lists.size(show.representations) == 0}">Aucune représentation</p>

            <h2>Liste des artistes</h2>
            <div class="artist-info">
                <p>
                    <strong>Auteur:</strong>
                    <span th:each="auteur, iter : ${collaborateurs['auteur']}" th:text="${auteur.firstname} + ' ' + ${auteur.lastname} + (${iter.count} == ${iter.size} - 1 ? ' et ' : (${iter.last} ? '' : ', '))">
                        Firstname Lastname
                    </span>
                </p>
                <p>
                    <strong>Metteur en scène:</strong>
                    <span th:each="scenographe, iter : ${collaborateurs['scénographe']}" th:text="${scenographe.firstname} + ' ' + ${scenographe.lastname} + (${iter.count} == ${iter.size} - 1 ? ' et ' : (${iter.last} ? '' : ', '))">
                        Firstname Lastname
                    </span>
                </p>
                <p>
                    <strong>Distribution:</strong>
                    <span th:each="comedien, iter : ${collaborateurs['comédien']}" th:text="${comedien.firstname} + ' ' + ${comedien.lastname} + (${iter.count} == ${iter.size} - 1 ? ' et ' : (${iter.last} ? '' : ', '))">
                        Firstname Lastname
                    </span>
                </p>
            </div>

            <nav class="mt-4">
                <a th:href="@{/shows}" class="nav-link">
				                <a th:href="@{/shows}" class="nav-link">Retour à l'index</a>
            </nav>
        </div>
    </div>

    <!-- Inclusion de Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
				