<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" lang="fr"
	layout:decorate="~{admin/layouts/admin}">

<head>
    <title>Dashboard</title>
    <!-- Lien vers le fichier CSS admin.css -->
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

<div layout:fragment="content" class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <div class="card bloc1">
                    <div class="card-body text-center">
                        <h2 class="card-number fs-1" th:text="${totalUsers}">0</h2>
                        <h3 class="card-title fs-4">Utilisateurs</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="card bloc2">
                    <div class="card-body text-center">
                        <h2 class="card-number fs-1" th:text="${totalShows}">0</h2>
                        <h3 class="card-title fs-4">Spectacles</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="card bloc3">
                    <div class="card-body text-center">
                        <h2 class="card-number fs-1" th:text="${totalRepresentations}">0</h2>
                        <h3 class="card-title fs-4">Représentations</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inclusion de FontAwesome pour les icônes si vous en avez besoin -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>
